/* Classes for elements*/
.text{
  font-family: "Lucida Console", "Courier New";
  position: absolute;
  display:block;
  filter: opacity(0px);
  z-index: 0;
  transition: filter 1s ease-in-out;
}
.doblur{
  width:100%;
  height:100%;
  filter: blur(0px);
  transition: filter 1s ease-in-out;
  z-index: 1;
  position:absolute;
}
.item{
  background-size: cover;
  background-position: center center;
  background-color: whitesmoke;
  position:relative;
  z-index:0;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
}


/*This is the component code that comes with 3 variables for modification */

SquareGrid{
  /* The content width you use on your website */
  --content-width: 100vw;
  
  /* The size of the gutter */
  --gutter: 20px;
  
  /* The amount of columns */
  --columns: 1;
  
  
  /* This is the calculation for the row height. */
  --row-size: calc(
    ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))
    ) / var(--columns)
  );
  
  display: grid;

  width: 100%;
  max-width: var(--content-width);
  
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);

}

@media (min-width: 450px){
  SquareGrid{
    --columns: 1;
  }
}

@media (min-width: 750px){
  SquareGrid{
    --columns: 2;
  }
}

@media (min-width: 1200px){
  SquareGrid{
    --columns: 3;
  }
}