table {
  border-spacing: 1;
  border-collapse: collapse;
  background: rgb(219, 219, 219);
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #e74b2f;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: Verdana, sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  color: #070404;
  line-height: 1.2;
  font-weight: unset;
}



@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 5px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.8;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Service";
    font-weight: bold;
  }
  table tbody tr td:nth-child(2):before {
    content: "What you get";
  }
  table tbody tr td:nth-child(3):before {
    content: "What you pay";
  }
  table tbody tr td:nth-child(4):before {
    content: "Revisions";
  }
  table tbody tr td:nth-child(5):before {
    content: "Availability";
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}